<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<meta name="robots" content="noindex">
		<link rel="stylesheet" href="/assets/main.css">
	</head>

	<body
		data-view="<%= view %>"
	>
		<div id="reactMainContainer">
			<!-- React render output will go here -->
		</div>
		<script src="/assets/main.js"></script>
	</body>
</html>